@font-face {
  font-family: 'SauceTomato';
  src: url('../fonts/SauceTomato.otf');
}

.header-component-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eb8921;
  border: 2px solid yellowgreen;
  border-radius: 15px;
  margin-top: 20px;
  font-family: 'SauceTomato';
  font-size: 16px;
  line-height: 1.1;
  height: 60px;
  position: relative;
}

.header-text {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 32px;
  color: rgba(255,255,255,0.9);
  text-align: center;
}

/* .header-component-container:before {
  content: "What CAN I make?";
  font-size: 32px;
  text-align: center;
  justify-self: center;
  color: rgba(255,255,255,0.9);
} */

.header-buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.header-buttons {
  position: relative;
  width: 90px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  background-color: #93c560;
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
}

.header-buttons:hover {
  background-color: #80ab54;
}

.login-form-container input,
.sign-up-form-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #80ab54;
}

.login-form-container button,
.sign-up-form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #93c560;
  color: #fff;
  cursor: pointer;
}