@font-face {
  font-family: 'SauceTomato';
  src: url('../fonts/SauceTomato.otf');
}

.header-component-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #eb8921;
  border: 1px solid #F2F7EB;
  border-radius: 15px;
  margin-top: 20px;
  font-family: 'SauceTomato';
}

.header-component-container img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}